*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: calibri;
}

.navbar{
    width: 100%;
    background-color: #fff;
    height: 60px;
    border-bottom: 3px solid rgb(136, 130, 130);
    display: flex;
    align-items: center;
    padding: 0 4%;
    justify-content: space-around;
}
.logo span{
    font-size: 34px;
    letter-spacing: 3.5;
    color: brown;
}
.navlinks{
    position: relative;
    display: flex;
    column-gap: 24px;
    align-items: center;
}
.navlinks a{
    text-decoration: none;
    color: rgb(51, 48, 48);
}
.navlinks a:hover{
    color: rgb(175, 42, 42);
    transition: 0.2s;
}
.active{
    background-color: brown;
    color: #fff;
    padding-right: 5px;
}
.navlinks .active{
    color: #fff;
    padding: 5px 10px;
}
.active:hover{
    background-color: #fff;
    color: brown;
    border: 2px solid brown;
    transition: 0.2s all;
}

.herotxt{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    background: linear-gradient(to top, rgba(0, 0, 0,0.5)50%, rgba(0, 0, 0,0.5)50%), url('./pexels-chan-walrus-958545.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    margin-bottom: 5%;
}
.herotxt h1{
    margin-bottom: 5px;
    letter-spacing: 2.3;
}
.herotxt p{
    margin-bottom: 16px;
}
.herotxt a{
    display: inline-block;
    background-color: brown;
    text-decoration: none;
    padding: 8px 15px;
    color: #fff;
}
.herotxt a:hover{
    background-color: #fff;
    color: brown;
    border: 2px solid brown;
    transition: 0.26s;
}
.subhero{
    background-color: rgb(247, 243, 243);
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5% 5%;
    
}
.card1{
    width: 30%;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    
}
.card01{
    text-align: center;
}
.card2{
    width: 30%;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    padding: 5px 50px;
    position: relative;
}


.card2 a{
    margin-top: 5px;
    background-color: brown;
    padding: 5px 2em;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.card2 a:hover{
    background-color: #fff;
    color: brown;
    transition: 0.3s;
    border: 2px solid brown;
}
.card1 a{
    text-align: center;
    margin-top: 5px;
    background-color: brown;
    padding: 5px 1em;
    text-decoration: none;
    color: #fff;
}
.card1 a:hover{
    background-color: #fff;
    color: brown;
    transition: 0.3s;
    border: 2px solid brown;
}
.card1 p{
    
    text-align: center;
}
.card2 p{
    text-align: center;
}
.card1 h2{
    text-align: center;
}
.card2 h2{
    text-align: center;
}
.bsttext{
    text-align: center;
    font-size: 5em;
}
.bestchoice{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    color: #000;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 3em;
    flex-wrap: wrap;
}
.line{
    margin: 10px auto;
    width: 30em;
    height: 3px;
    background: blanchedalmond;
}
.cardbox{
    border-radius: 8px;
    width: 270px;
    margin: 10px;
    border: 2px solid rgb(209, 198, 198);
    padding: 5px 10px;
}
.cardbox a{
    background: brown;
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    margin: 5px;
}
.cardbox a:hover{
    background-color: #fff;
    border: 2px solid brown;
    color: brown;
}
.cardbox:hover{
    transform: translateX(-15px);
    transform: translateY(-15px);
    transition: 0.3s;
}
.cardimage{
    background-color: aquamarine;
    height: 290px;
    margin-bottom: 15px;
    background-size: cover;
    width: 100%;
    border-radius: 8px;
}
.card_1{
    background-image: url('./pancakes\ .jpg');
    background-position: center;
}
.card_2{
    background-image: url('./berrypie.jpg');
}
.card_3{
    background-image: url('./fruitsalad.jpg');
}
.card_4{
    background-image: url('./pexels-lumn-1028598.jpg');
    background-position: center;
}
.menubtn{
    display: none;
}
.ordersec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}
.ordersec h1{
    font-size: 50px;
}
#orderinput{
    height: 30px;
    width: 80%;
    max-width: 400px;
    border: 2px solid rgb(202, 83, 83);
    padding-left: 10px;
}
.ordersec label{
    font-size: 20px;
}
#orderinput::placeholder{
    font-size: 15px;
}
.ordersec a{
    display: inline-block;
    background-color: brown;
    color: #fff;
    margin-top: 10px;
    padding: 10px 15px;
    text-decoration: none;
}
.ordersec a:hover{
    background: #fff;
    border: 2px solid brown;
    color: brown;
    transition: 0.3s;
}
footer{
    height: 25pxpx;
    background-color: rgb(234, 132, 132);
    text-align: center;
    padding: 20px;
}
@media screen and (max-width:950px){
    .subhero{
        flex-wrap: wrap;
        margin-bottom: 2px;
        height: 500px;
    }
    .card01{
        flex:1;
        
        
    }
    
}
@media screen and (max-width:768px) {
    .navlinks{
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: #000;
        z-index: 999;
        top: 59px;
        left: -100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }
    .navlinks a{
        color: #fff;
    }
    .activebtn{
        left: 0;
    }
    .menubtn{
        display: block;
        cursor: pointer;
    }
    .card1 h2{
        font-size: 18px;
        text-align: center;
    }
    .card2 h2{
        font-size: 18px;
    }
    .card1 p{
        font-size: 15px;
    }
}
@media screen and (max-width:515px) {
    .line{
        width: 15em;
    }
    
    
}
